<ion-view id="conferencista" view-title="CONFERENCISTA">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-80 col-offset-10 align-center">
        <div>
          <div class="margin-horizontal">
            <img class="thumb-border thumb-circle img-responsive" ng-src="{{item.image}}">
          </div>
          <h2 class="font-light">{{item.name}} {{item.lastname}}</h2>
          <h4 class="font-gray-medium font-light">{{item.charge}}</h4>
        </div>
      </div>
    </div>
    <div class="align-justify font-light">{{item.description}}</div>
  </ion-content>
</ion-view>
