<ion-view id="list_cart" view-title="Lista de Deseos">
  <ion-content>
   
    <ion-list ng-controller="listCartCtrl" class="list-transparent list-medium">
      
      <ion-item ng-repeat="item in products" class="center-vertical-item">
        <div class="left">
          <img class="thumb-border" ng-src="{{ ::item.image }}">
        </div>
        <div class="center">
          <p>{{ ::item.name }} </p>
          <a href="javascript:void(0);" ng-click="removeItem($index);" >Eliminar</a>
        </div>
      </ion-item>      
    
    </ion-list>

  </ion-content>

  
</ion-view>