
<ion-view id="listevent" hide-back-button="true" view-title="CLARO NETWORKING">
	<ion-content >
		
		<p class="frase_list">Seleciona el evento al que quieras registrar</p>

		<div >
			<img style="display:block;" class="img-responsive" src="img/eventos/evento1.jpg">
			<div class="desc_event">
				<h2>Evento 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas et ea odio voluptatum </p>					
				<div class="btns_list">
					<a href="" class="btn_entrar">Entrar</a>
					<a href="" ng-click="createEvent()" class="btn_calendario">Añadir al calendario</a>
				</div>
			</div>
		</div>

		<div >
			<img style="display:block;" class="img-responsive" src="img/eventos/evento2.jpg">
			<div class="desc_event">
				<h2>Evento 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas et ea odio voluptatum </p>					
				<div class="btns_list">
					<a href="" class="btn_entrar">Entrar</a>
					<a href="" ng-click="createEvent()" class="btn_calendario">Añadir al calendario</a>
				</div>
			</div>
		</div>


		<div >
			<img style="display:block;" class="img-responsive" src="img/eventos/evento3.jpg">
			<div class="desc_event">
				<h2>Evento 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas et ea odio voluptatum </p>					
				<div class="btns_list">
					<a href="" class="btn_entrar">Entrar</a>
					<a href="" ng-click="createEvent()" class="btn_calendario">Añadir al calendario</a>
				</div>
			</div>
		</div>
	
		
	</ion-content>
</ion-view>

