$color-white: #FFF;
$color-red: #e2231a;
$color-gray-light-1: #f1f2f2;
$color-gray-light: #d1d3d4;
$color-gray-medium-1: #a7a9ac;
$color-gray-medium: #939598;
$color-gray: #58595b;
$color-black: #231f20;

$color-gray-osc: #414042;

$padding-sm: .5em;
$padding: 1em;
$padding-lg: 2em;
$padding-md: 1.5em;
$margin-sm: .5em;
$margin: 1em;
$margin-md: 1.5em;
$margin-lg: 2em;

$main-font: 'robotocondensed';
$main-font-bold: 'robotobold_condensed';

$path-img-intro: '../img/intro/';
