<ion-modal-view>
  <ion-content class="modal-container">
    <div class="row height-full">
      <div class="col col-center">
        <div class="padding modal-content">
          <div class="row buttons-head">
            <div class="col-80 comparte">Subir foto</div>
            <div class="col-20 align-right">
              <i ng-click="closeModal()" data-icon="h" class="icon font-gray-medium icon-small"></i>
            </div>
          </div>
		  <div class="row"><span style="text-align: center; width :100%">{{message}}</span></div>
          <div class="row" style="margin-top:0.3em;font-size: 2em;">
            <a class="tab-item">
              <i data-icon="f" class="icon icon-circle-lg" ng-click="camera()"></i>
              Cámara
            </a>
            <a class="tab-item">
              <i class="icon ion-images" ng-click="gallery()"></i>
              Galería
            </a>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>